# Ignore everything
*

# But not these files...
!.gitignore
!CardImageURLsAlice.txt
!CardImageURLsExtras.txt
!CardImageURLsGrimm.txt
!CardImageURLsLapis.txt
!CardImageURLsPromo.txt
!CardImageURLsReiya.txt
!CardImageURLsValhalla.txt
!formats.txt
!plugin
!plugininfo.txt
!pluginpreferences.txt
!public-sync.bat
!README.txt
!uninstall.txt
!updatelist.txt
!version.txt
!decks/
!decks/SDL1.dek
!decks/SDL2.dek
!decks/SDL3.dek
!decks/SDL4.dek
!decks/SDL5.dek
!decks/SDR1.dek
!decks/SDR2.dek
!decks/SDR3.dek
!decks/SDR4.dek
!decks/SDR5.dek
!packs/
!packs/CFC_pack.png
!packs/LEL_pack.jpg
!packs/RDE_pack.png
!packs/packdefinitions1.xml
!packs/packdefinitions2.xml
!sets/
!sets/Alice.txt
!sets/Extras.txt
!sets/Grimm.txt
!sets/Lapis.txt
!sets/Promo.txt
!sets/Reiya.txt
!sets/Stones.txt
!sets/Vahalla.txt
!sounds/
!sounds/welcome.wav