# Ignore everything
*

# But not these files...
!.gitignore
!CardImageURLsAlice.txt
!CardImageURLsExtras.txt
!CardImageURLsGrimm.txt
!CardImageURLsLapis.txt
!CardImageURLsPromo.txt
!CardImageURLsReiya.txt
!CardImageURLsValhalla.txt
!formats.txt
!plugininfo.txt
!public-sync.bat
!public-sync.txt
!README.txt
!uninstall.txt
!updatelist.txt
!version.txt
!decks/
!decks/SDL1.dek
!decks/SDL2.dek
!decks/SDL3.dek
!decks/SDL4.dek
!decks/SDL5.dek
!decks/SDR1.dek
!decks/SDR2.dek
!decks/SDR3.dek
!decks/SDR4.dek
!decks/SDR5.dek
!general/
!general/cardback.jpg
!MiscImages/
!MiscImages/modular_default.jpg
!MiscImages/fow_mat_double.png
!MiscImages/fow_mat_double2.png
!MiscImages/fow_mat_double3.png
!MiscImages/FOW-Abdul.png
!MiscImages/FOW-Alice.png
!MiscImages/FOW-Bahamut.png
!MiscImages/FOW-BlackMago.png
!MiscImages/FOW-BlueMago.png
!MiscImages/FOW-CrimsonGirl.jpg
!MiscImages/FOW-CrimsonSkyGirl.png
!MiscImages/FOW-Dracula.png
!MiscImages/FOW-GreenMago.png
!MiscImages/FOW-Grimm.png
!MiscImages/FOW-Kaguya.png
!MiscImages/FOW-Lumia.png
!MiscImages/FOW-PussInBoot.png
!MiscImages/FOW-RedMago.png
!MiscImages/FOW-WhiteMago.png
!MiscImages/FOW-Cain.png
!MiscImages/FOW-Fiend_of_Dark_Pyre.png
!MiscImages/FOW-Grimm_Ipank.png
!MiscImages/FOW-Grimmia.png
!MiscImages/FOW-Kaguya_MPR.png
!MiscImages/FOW-Scheherazade.png
!MiscImages/FOW-Spano_Chronos.png
!MiscImages/FOW-arla.jpg
!MiscImages/FOW-Blazer.jpg
!MiscImages/FOW-DarkAlice.jpg
!MiscImages/FOW-DarkArla.jpg
!MiscImages/FOW-DarkFaria.jpg
!MiscImages/FOW-DarkMachina.jpg
!MiscImages/FOW-DarkMelgis.jpg
!MiscImages/FOW-DarkPricia.jpg
!MiscImages/FOW-DarkRezzard.jpg
!MiscImages/FOW-EmperorValentina.jpg
!MiscImages/FOW-Faria.jpg
!MiscImages/FOW-Machina.jpg
!MiscImages/FOW-Melgis.jpg
!MiscImages/FOW-Pricia.jpg
!MiscImages/FOW-QueenAlice.jpg
!MiscImages/FOW-Refrain.jpg
!MiscImages/FOW-Rezzard.jpg
!MiscImages/FOW-Sylvia.jpg
!MiscImages/FOW-Valentina.jpg
!packs/
!packs/CFC_pack.png
!packs/LEL_pack.jpg
!packs/RDE_pack.png
!packs/packdefinitions1.xml
!packs/packdefinitions2.xml
!sets/
!sets/Alice.txt
!sets/Extras.txt
!sets/Grimm.txt
!sets/Lapis.txt
!sets/Promo.txt
!sets/Reiya.txt
!sets/Stones.txt
!sets/Vahalla.txt
!sounds/
!sounds/welcome.wav